{% extends "navbar.html" %}
{% block include %}
	<link rel="stylesheet" href= "{{ url_for('static',filename='css/bootstrap.css') }}">

{% endblock %}

{% block body %}
    <!-- Page Content -->
    <div class="container">
      <ul class="nav nav-tabs">
    <li class="active"><a data-toggle="tab" href="#home">Approve</a></li>
    <li><a data-toggle="tab" href="#menu1">Add New Tender</a></li>
    <li><a data-toggle="tab" href="#menu2">View All</a></li>
    <li><a data-toggle="tab" href="#menu3">Status Approve</a></li>
    <li><a data-toggle="tab" href="#menu4">Bidding Status</a></li>
      </ul>

  <div class="tab-content">
    <div id="home" class="tab-pane fade in active">
      <h3>Approval</h3>
       <table class="table table-hover" >
    <thead>
       <tr>
        <th>Sl no</th>
        <th>Contractor/Vendor Name</th>
        <th>State</th>
        <th>District</th>
        <th>Class Certification Number</th>
        <th>Approve</th>
        
       </tr>
    </thead>
    <tbody id='tab'>
       
    </tbody>
  </table>
    </div>
    <div id="menu1" class="tab-pane fade">
      <h3>Add New Tender</h3>
      <div class="row">
         <div class="col-md-4">
            <div class="form-group">
            <label for="tid">Tender ID:</label>
            <input type="text" class="form-control" id="tid" readonly>
           </div>
          </div>
      </div>

    <div class="form-group">
        <label for="file">Tender File:</label>
        <input type="text" class="form-control" id="tender_file">
      </div>

      <div class="form-group">
        <input type="button" class="btn btn-default" value="Submit">
      </div>
    </div>
    <div id="menu2" class="tab-pane fade">
      <h3>View Tenders</h3>
      <div class="container">

      <!-- Portfolio Item Heading -->
      <h1 class="my-4">Search for the project/Tenders
        
      </h1>

      <!-- Portfolio Item Row -->
      <div class="row">

        <div class="col-md-8">
         <form class="form-horizontal" action="javascript:void(0)">
  <div class="form-group">
    
    <div class="row">
    <label class="radio-inline"><input type="radio" name="optradio" id="method" value="title" required>Name</label>
    <label class="radio-inline"><input type="radio" name="optradio" id="method" value="project_category">Department</label>
    <label class="radio-inline"><input type="radio" name="optradio" id="method" value="district">District</label>
    <label class="radio-inline"><input type="radio" name="optradio" id="method" value="state">State</label>
  </div></div>
  <div class="form-group">
    <label class="control-label col-sm-2">Search here..</label>
    <div class="col-sm-10"> 
      <input type="text" class="form-control" id="str" placeholder="Enter TEXT" value="{{data}}">
    </div>
  </div>
  
  <div class="form-group"> 
    <div class="col-sm-offset-2 col-sm-10">
      <button type="submit" class="btn btn-default" onclick="search()">Transmit</button>
    </div>
  </div>
</form>
        </div>

        <br><br><br><br><br><br><br><br>  
<div width="800px" height="800px" id="statehit"></div>
<div class="container" id="result" style="display:none">
    <table class="table table-hover" >
    <thead>
       <tr>
        <th>Title</th>
        <th>Project id</th>
        <th>State</th>
        <th>District</th>
        <th>Category</th>
        <th>Start date</th>
        <th>End date</th>
       </tr>
    </thead>
    <tbody id='tab'>
       
    </tbody>
  </table>
</div>
      </div>
      <!-- /.row -->

     

    </div>
    </div>
    
    <div id="menu3" class="tab-pane fade">
      <h3>Status Approve</h3>
      <div class="container">
        <label>Tender ID</label><p id="ten_id"></p>
        <label>Contractor Name</label><p id="con_name"></p>
        <label>Tender Description</label><p id="ten_des"></p>
        <label>Tender Status</label><p id="ten_id"></p>


      </div>
    </div>
     <div id="menu4" class="tab-pane fade">
      <h3>View Bidding </h3>
      <div class="container">
        <form>
        <label>Tender Name</label><select id="ten_name"></select>
        <br>
        <label>Tender Description</label><p id="ten_des"></p>
        <table class="table table-hover" >
    <thead>
       <tr>
        <th>Contractor</th>
        <th>Bidding amount</th>
        <th>Yes</th>
       </tr>
       <tr>
         <td></td>
         <td></td>
         <td><input type="radio" id="approve_bid" name=""></td>
       </tr>
    </thead>
    <tbody id='tab'>
       
    </tbody>
  </table>
  <input type="button" class="btn btn-success" value="Transmit" id="hitbid" name="biddingButton">
</form>
      </div>
      </div>
  </div>
      
     

     

    </div>
    <!-- /.container -->

    

{% endblock %}