{% extends "navbar.html" %}
{% block include %}
<script  type = "text/javascript">
	
	function fireProject()
	{
		// app call to server side;
		console.log("fire Project");
	}
	function loadData(){
		info = JSON.parse({{data|tojson|safe}});	
		$('#name_c').html(info[5]);
		$('#mobile_c').html(info[6]);
		$('#pan_c').html(info[7]);
		$('#tan_c').html(info[8]);
		$('#vat_c').html(info[9]);
		
	}
	function openProject(pname){
		window.location="/project/"+pname

	}
	$(document).ready(function(){
		loadData();
		var re = new RegExp('/[a-zA-Z]*$');
		$.ajax({
				url: "/getBid"+window.location.href.substring(window.location.href.search(re)),
				type: "GET",
				data: '',
				success: function(data) {
//					console.log(data)
					$.each(data, function (i, elem) {
						tr = $("<tr></tr>",{style:'cursor:pointer;'});
						tr.click(function(){window.location="/project/"+elem[0]})
						project = $("<td></td>").text(elem[0]);
						d = new Date(Date.parse(elem[2]))
						date = $("<td></td>").text(d.getDate()+"/"+d.getMonth()+"/"+d.getFullYear());
						amt = $("<td></td>").text(elem[1]);
						stat = $("<td></td>").text(elem[3]);
						tr.append(project,date,amt,stat);
						$('#proj_bid').append(tr);
						
					});
					 
				},
				error: function(data) {
					console.log(data);
					console.log("something went wrong");
				} 			
	    });
		
		/*
		$.ajax({
				url: "project_bid.php",
				type: "GET",
				data: '',
				success: function(data) {
					str = "Change Status";
					
					$.each(info, function (i, elem) {
						con = "";
						con += "<tr id ="+elem.Tno+" onclick = 'fireProject()' style = 'cursor: pointer;'>"+"<td>"
						+elem.Tno+"</td>"+"<td>"+elem.date+"</td>"+"<td>"+elem.tender+"</td>"+"<td>"
						+elem.org+"</td>"+"<td>"+"<a href ='#'>"+str+"</a>"+"</td>"+"</tr>";
						$('#proj_bid').append(con);
					});
					 
				},
				error: function(data) {
					console.log(data);
					console.log("something went wrong");
				} 			
	    });*/
	});
	
	
	</script>
	<style type="text/css">
		#project_bid{
			margin-top:20px;
		}
	</style>
{% endblock %}
{% block body %}

    <!-- Page Content -->
    <div class="container start">

      <!-- Portfolio Item Heading -->
      <h1 class="my-4">Glad to see you </h1>

      <!-- Portfolio Item Row -->
      <div class="row">

        <div class="col-md-8">
          <div id="con_details">
			<table class="table" id="det">
			<thead>
			  <tr>
				<th>Name</th>
				<th>Mobile No:</th>
				<th>PAN</th>
				<th>TAN</th>
				<th>VAT</th>
			  </tr>
			</thead>
			<tbody>
			  <tr>
				<td id = "name_c"></td>
				<td id = "mobile_c"></td>
				<td id = "pan_c"></td>
				<td id = "tan_c"></td>
				<td id = "vat_c"></td>
			  </tr>
			</tbody>
		  </table>
		  </div>
		 </div>
		</div>
		<div class="row">
		  <div class="col-md-8">
		  <div id = "project_bid">
		  <h2>Projects</h2>
		  <table class="table" id="proj_bid" >
			<thead>
			  <tr>
				<th>Project.</th>
				<th style ="width:20%;">Date</th>
				<th>Amount</th>
				<th>Status</th>
			  </tr>
			</thead>
			<tbody >
			</tbody>
		  </table>
		  </div>
      </div>
      <!-- /.row -->

 
      <!-- /.row -->

    </div>
    <!-- /.container -->
	
	

    <!-- Footer -->
    <footer class="py-2 bg-dark">
      <div class="container">
        <p class="m-0 text-center text-white">Copyright &copy; Your Website 2017</p>
      </div>
      <!-- /.container -->
    </footer>

    <!-- Bootstrap core JavaScript -->

{% endblock %}