<!DOCTYPE html>
<html>
<head>
<title>pwrmc e-tendering</title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <link rel="stylesheet" href= "{{ url_for('static',filename='css/bootstrap.min.css') }}">
	<script src ="{{ url_for('static',filename='js/jquery.min.js') }}"></script>
	<script src="{{ url_for('static',filename='js/bootstrap.min.js')}}"></script>
	<style type="text/css">
		.start{
			margin-top: 75px;
		}
		footer{
			position: fixed;
			bottom: 0px;
			width: 100%;
			height: 40px;
			padding-top: 5px;
			padding-bottom: 5px;
		}
	</style>
  <script type="text/javascript">
    function loggedIn(data){
      
      $("#login_bar").hide();
      $("#logOutBlock").show();
      $("#sign_bar").hide();
      $("#user_info").show();
      var con = "Welcome, "+data;
      $("#user_con").html(con);
  }

  function loggedOut(data){
    $("input[type=text], textarea").val("");
    $("input[type=password], textarea").val("");
    $("#logOutBlock").hide();
      $("#user_info").hide();
      $("#login_bar").show();
      $("#user_con").empty();
      $("#sign_bar").show();
  }

  $(document).ready(function(){
    $.ajax({
      type: 'GET',
      url: '/getUser',
      success: loggedIn,
      error: loggedOut
    });
    $("#loginBtn").click(function(){
      var username = $("#u_id").val();
      var password = $("#password_u").val();
      data = {'username':username, 'password':password}
      
        console.log("fired");
        $.ajax({
          type: 'POST',
          url: '/login',
          data:  JSON.stringify(data),
          contentType: 'application/json;charset=UTF-8',
          success: loggedIn,
          error: loggedOut
        });
        return false;
      });
      
      $("#sign_up").click(function(){
        // call to sig-up page;
        window.location = "signup"
      });
              

    $("#logOutBlock").click(function(){
      window.location = "/logout"
      return false;
    });
  })
  </script>
	{% block include %}{% endblock %}
</head>
<body bgcolor="#c7d0d9">
	

		<!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top row">
      <div class="container">
        <a class="navbar-brand" href="#">Government Tender Management System</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
              <a class="nav-link" href="#">Home
                <span class="sr-only">(current)</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">About</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Services</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Contact</a>
            </li>
			 <li class="nav-item" id = "logOutBlock" style = "display:none;">
				<a class="nav-link" href="#">Log Out</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
   
{% block body %}{% endblock %}
<!-- Footer -->
    <footer class=" bg-dark">
      <div class="container">
        <p class="m-0 text-center text-white">Copyright &copy;GTMS</p>
      </div>
      <!-- /.container -->
    </footer>
</body>
</html>