{% extends "navbar.html" %}
{% block include %}
	<link rel="stylesheet" href="{{ url_for('static',filename='css/w3.css') }}">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/search.css') }}">
	<script type="text/JavaScript" src="{{ url_for('static',filename='js/search.js') }}"></script>
	<style type="text/css"></style>
	<script>
	function search(){
		data1 = $("input[name='optradio']:checked").val()
		data2 = document.getElementById('str').value
		data = {'method':data1, 'text':data2}
		$.ajax({
			url: "/search_by",
			data:  JSON.stringify(data),
			type: "POST",
			contentType: 'application/json;charset=UTF-8',		
			success: update_success,
			error: function(error) {
				console.log(error);
				$("#error").html(error.responseText)
			}
		});
	
	}
	function update_success(text){
		// need to parse this text as json and accordingly update the search results in this function
		console.log(text)
		alert(text)
		data = JSON.parse(text)
		
		res = document.getElementById('result')
		res.style.display = "block"
		d = document.getElementById('tab')
		for(var i=0; i<data.length; ++i){
			tr = document.createElement('tr')
			for (var j=0; j<7; ++j){
				td = document.createElement('td')
				td.appendChild(document.createTextNode(data[i][j]))
				tr.appendChild(td)
			}
			tab.appendChild(tr)
		}
	}
	$(document).ready(function(){
    $("input[name='optradio'][value='{{method}}']").prop('checked',true)
  })
	</script>
{% endblock %}
{% block body%}
<div class="container start">

      <!-- Portfolio Item Heading -->
      <h1 class="my-4">Search for the project/Tenders
        
      </h1>

      <!-- Portfolio Item Row -->
      <div class="row">

        <div class="col-md-8">
         <form class="form-horizontal" action="javascript:void(0)">
  <div class="form-group">
    <div class="row"><label class="control-label col-sm-2" >Search By:</label></div><br>
    <div class="row">
    <label class="radio-inline"><input type="radio" name="optradio" id="method" value="title" required>Name</label>
    <label class="radio-inline"><input type="radio" name="optradio" id="method" value="project_category">Department</label>
    <label class="radio-inline"><input type="radio" name="optradio" id="method" value="district">District</label>
    <label class="radio-inline"><input type="radio" name="optradio" id="method" value="state">State</label>
  </div></div>
  <div class="form-group">
    <label class="control-label col-sm-2">Search here..</label>
    <div class="col-sm-10"> 
      <input type="text" class="form-control" id="str" placeholder="Enter TEXT" value="{{data}}">
    </div>
  </div>
  
  <div class="form-group"> 
    <div class="col-sm-offset-2 col-sm-10">
      <button type="submit" class="btn btn-info" onclick="search()">Submit</button>
    </div>
  </div>
</form>
        </div>

        <br><br><br><br><br><br><br><br>  
<div width="800px" height="800px" id="statehit"></div>
<div class="container" id="result" style="display:none">
    <table class="table table-hover" >
    <thead>
       <tr>
        <th>Title</th>
        <th>Project id</th>
        <th>State</th>
        <th>District</th>
        <th>Category</th>
        <th>Start date</th>
        <th>End date</th>
       </tr>
    </thead>
    <tbody id='tab'>
       
    </tbody>
  </table>
</div>
      </div>
      <!-- /.row -->

     

    </div>
    <!-- /.container -->

    


 </div>
{% endblock %}